<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="header">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">  <!-- この行を追加 -->
      <div class="row">      <!-- この行を追加 -->
        <nav class="nav navbar-left">
          <div class="col-md-3">
            <a href ="/">Bookers2</a>
            </div>
            
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
             <% if user_signed_in? %>
             <div class="col-md-9">


                <%= link_to  user_path(current_user), class:"btn btn-link" do %>
                <i class="fas fa-home"></i>Home
                <% end %>




                <%= link_to users_path, class:"btn btn-link" do  %>
                <i class="fas fa-users"></i>Users
                <% end %>




                <%= link_to  books_path, class:"btn btn-link" do  %>
                <i class="fas fa-book-open"></i>Books
                <% end %>




                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do  %>
                <i class="fas fa-sign-out-alt"></i>logout
                <% end %>
                </div>


            <% else %>
            <div class="col-md-9">

                <%= link_to root_path, class:"btn btn-link" do %>
                <i class="fas fa-home"></i>Home
                <% end %>





                <%= link_to home_about_path, class:"btn btn-link" do %>
                <i class="fas fa-eject"></i>About
                <% end %>




                <%= link_to new_user_registration_path, class:"btn btn-link" do %>
                <i class="fas fa-sign-in-alt"></i>sign up
                <% end %>




                <%= link_to new_user_session_path, class:"btn btn-link" do %>
                 <i class="fas fa-sign-in-alt"></i>login
                <% end %>
                 </div>


            <% end %>
          </ul>
        </nav>
      </div>  <!-- この行を追加 -->
      </div>    <!-- この行を追加 -->
    </header>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>


        <footer>
          <div class="container">
          <div class="row">
        
          <p class="text-right"> CopyRight Infratop.inc</p>
        </footer>
      </div>
    </div>
  </body>
</html>
